/* COLORS:

Color Palette 1: 

Dark Purple: #524a69 // rgba(82, 74, 105, 0.8)
Light Purple: #646b91 // rgba(100, 107, 145,0.8)
Dark Green: #64a88d // rgba(100, 168, 141, 0.8)
Light Green: #69c79d // rgba(105, 199, 157, 0.8)
Creme: #ffebec // rgba(255, 235, 236, 0.8)

*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem; 
    line-height: 1.7;
    color: #FED402;
    padding: 3rem;
    box-sizing: border-box;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.8),
        rgba(119, 119, 119, 0.8)),
        url(../images/download.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(100% 0, 100% 68%, 50% 100%, 0 68%, 0 0);
}

.header__text-container{
    position: absolute;
    top: 30rem;
    left: 90rem;
    transform: translate(-50%, -50%);
    /* text-align: center */
}

.header__profile-box{
    position: absolute;
    top: 13rem;
    left: 7rem;
}

.header__profile-pic{
    height: 40rem;
}

.heading-primary{
    color: #ed553b;
    text-transform: uppercase;
    margin-bottom: 2rem;
    backface-visibility: hidden;
}


.heading-primary--main{
    display: block;
    font-size: 6rem;
    font-weight: bold;
    letter-spacing: .5rem;
    animation: moveInLeft 1s ease-out;
}

.heading-primary--sub{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .2rem;
    color: #524a69;

    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }

    80%{
        transform: translateX(1rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }

    80%{
        transform: translateX(-1rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
}

.btn:hover{
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white{
    background-color: #fff;
    color: #777
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after{
    background-color: #fff;
}

.btn:hover::after {
    transform: scale(1.5) scaleY(1.6);
    opacity: 0;
}

.btn--animated{
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards
}
